*---------------------------------------------------------------------------------------------------------*

DNS Records for: ZONE = {{ zone }} FQDN = {{ ansible_fqdn }}

*---------------------------------------------------------------------------------------------------------*

NAME                          TYPE  VALUE

*---------------------------------------------------------------------------------------------------------*

{{ ansible_fqdn }}                    A     {{ ip }}

{{ ansible_fqdn }}                    MX    0 {{ ansible_fqdn }}

{{ ansible_fqdn }}                    PTR   {{ RDNS }}

{{ ansible_fqdn }}                    TXT   v=spf1 ip4:{{ ip }} -all

{{ ansible_hostname }}._domainkey.{{ zone }}    TXT   {{ public_key.stdout }}

_adsp._domainkey.{{ inventory_hostname }}     TXT     dkim=all;

_dmarc.{{ ansible_fqdn }}             TXT   v=DMARC1; p=none; sp=none; rua=mailto:root@{{ ansible_fqdn }}; ruf=mailto:root@{{ ansible_fqdn }}; rf=afrf; pct=100; ri=86400




* -- ** NOTE: All TTL Values = 3600 except for DMARC TTL which needs to be 86400 ** -- *