alias_database = hash:/etc/aliases
alias_maps = hash:/etc/aliases
always_bcc = no
allow_percent_hack = yes
broken_sasl_auth_clients = yes
command_directory = /usr/sbin
compatibility_level = 2
daemon_directory = /usr/libexec/postfix
data_directory = /var/lib/postfix
debug_peer_level = 2
debugger_command =
   PATH=/bin:/usr/bin:/usr/local/bin:/usr/X11R6/bin
   ddd $daemon_directory/$process_name $process_id & sleep 5
header_checks = regexp:/etc/postfix/header_checks
home_mailbox = Maildir/
html_directory = no
inet_interfaces = all
inet_protocols = ipv4
local_header_rewrite_clients = static:all
mail_owner = postfix
mailbox_command = /usr/bin/procmail-wrapper -o -a $DOMAIN -d $LOGNAME
mailbox_size_limit = 0
mailq_path = /usr/bin/mailq.postfix
manpage_directory = /usr/share/man
mime_header_checks = regexp:/etc/postfix/header_checks
mydomain = {{  zone  }}
myhostname = {{  ansible_fqdn  }}
myorigin = $mydomain
mynetworks = 127.0.0.0/8
mynetworks_style = host
mydestination = $myhostname localhost.$mydomain localhost $mydomain
#mydestination = $mydomain, $myhostname, localhost, localhost.localdomain, pcre:/etc/postfix/mydestination
newaliases_path = /usr/bin/newaliases.postfix
queue_directory = /var/spool/postfix
{% if postfix3 == true %}
readme_directory = /usr/share/doc/postfix3-3.4.7/README_FILES
sample_directory = /usr/share/doc/postfix-2.11.0/examples
{% else %}
readme_directory = /usr/share/doc/postfix-2.11.0/README_FILES
sample_directory = /usr/share/doc/postfix-2.11.0/samples
{% endif %}
recipient_delimiter = +
sendmail_path = /usr/sbin/sendmail.postfix
setgid_group = postdrop
show_user_unknown_table_name = yes
smtpd_banner = {{  ansible_fqdn  }} ESMTP Postfix (CentOS)
smtp_helo_name = {{  ansible_fqdn  }}

smtpd_client_restrictions = permit_sasl_authenticated,
                            warn_if_reject,
                            permit_mynetworks,
                            reject_unknown_client,
                            permit

smtpd_recipient_restrictions = permit_mynetworks,
                               permit_sasl_authenticated,
                               reject_unauth_destination,
                               reject_unauth_pipelining,
                               permit_dnswl_client wl-ip.rbl.scrolloutf1.com=127.2.100.2,
                               permit_rhswl_client wl-domain.rbl.scrolloutf1.com=127.1.100.2,
                               reject_rhsbl_helo bl-domain.rbl.scrolloutf1.com=127.1.0.2,
                               reject_rhsbl_reverse_client bl-domain.rbl.scrolloutf1.com=127.1.0.2,
                               reject_rhsbl_sender UnsafeSenders.rbl.scrolloutf1.com=127.1.0.2,
                               reject_rbl_client zen.spamhaus.org,
                               reject_rbl_client bl.spamcannibal.org,
                               check_policy_service unix:postgrey/socket,
                               permit

postscreen_dnsbl_sites = bl-ip.rbl.scrolloutf1.com*2,
                         wl-ip.rbl.scrolloutf1.com*-2

smtpd_relay_restrictions = permit_mynetworks,
                           permit_sasl_authenticated,
                           reject_unauth_destination

smtpd_helo_required = yes
smtpd_reject_unlisted_recipient = no
smtpd_sasl_local_domain = $myhostname
smtpd_sasl_path = private/auth
smtpd_sasl_security_options = noanonymous
smtpd_sasl_type = dovecot
smtpd_sender_login_maps = regexp:/etc/postfix/login_maps.regexp
smtpd_sender_restrictions = reject_non_fqdn_hostname permit
smtpd_tls_ask_ccert = yes
smtpd_tls_auth_only = yes
smtpd_tls_CAfile = /etc/ssl/certs/ca-bundle.pem
smtpd_tls_CApath = /etc/ssl/certs
smtpd_tls_cert_file = /etc/letsencrypt/live/{{  ansible_fqdn  }}/{{ ansible_fqdn }}.fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/{{  ansible_fqdn  }}/{{ ansible_fqdn }}.privkey.pem
smtpd_tls_dh1024_param_file = /etc/ssl/{{ ansible_fqdn }}/dhparams.pem
smtpd_tls_eecdh_grade = ultra
smtpd_tls_loglevel = 1
smtp_tls_mandatory_ciphers=high
smtpd_tls_mandatory_ciphers = high
smtpd_tls_mandatory_protocols = !SSLv3, !TLSv1.2
smtp_tls_mandatory_protocols = !SSLv3, !TLSv1.2
smtpd_tls_received_header = yes
#smtpd_tls_req_ccert = yes
smtpd_tls_security_level = encrypt
smtp_tls_security_level = encrypt
smtpd_tls_session_cache_timeout = 3600s
smtpd_tls_wrappermode = yes
smtpd_use_tls = yes
soft_bounce = yes
#tls_eecdh_auto_curves = yes
tls_high_cipherlist=ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:DH-DSS-AES256-GCM-SHA384:DHE-DSS-AES256-GCM-SHA384:DH-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA256:DH-RSA-AES256-SHA256:DH-DSS-AES256-SHA256:ECDH-RSA-AES256-GCM-SHA384:ECDH-ECDSA-AES256-GCM-SHA384:ECDH-RSA-AES256-SHA384:ECDH-ECDSA-AES256-SHA384:AES256-GCM-SHA384:AES256-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:DH-DSS-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:DH-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES128-SHA256:DHE-DSS-AES128-SHA256:DH-RSA-AES128-SHA256:DH-DSS-AES128-SHA256:ECDH-RSA-AES128-GCM-SHA256:ECDH-ECDSA-AES128-GCM-SHA256:ECDH-RSA-AES128-SHA256:ECDH-ECDSA-AES128-SHA256:AES128-GCM-SHA256:AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES256-SHA:DHE-DSS-AES256-SHA:DH-RSA-AES256-SHA:DH-DSS-AES256-SHA:DHE-RSA-CAMELLIA256-SHA:DHE-DSS-CAMELLIA256-SHA:DH-RSA-CAMELLIA256-SHA:DH-DSS-CAMELLIA256-SHA:ECDH-RSA-AES256-SHA:ECDH-ECDSA-AES256-SHA:AES256-SHA:CAMELLIA256-SHA:PSK-AES256-CBC-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA:DH-RSA-AES128-SHA:DH-DSS-AES128-SHA:DHE-RSA-SEED-SHA:DHE-DSS-SEED-SHA:DH-RSA-SEED-SHA:DH-DSS-SEED-SHA:DHE-RSA-CAMELLIA128-SHA:DHE-DSS-CAMELLIA128-SHA:DH-RSA-CAMELLIA128-SHA:DH-DSS-CAMELLIA128-SHA:ECDH-RSA-AES128-SHA:ECDH-ECDSA-AES128-SHA:AES128-SHA:SEED-SHA:CAMELLIA128-SHA:PSK-AES128-CBC-SHA:ECDHE-RSA-DES-CBC3-SHA:ECDHE-ECDSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:EDH-DSS-DES-CBC3-SHA:DH-RSA-DES-CBC3-SHA:DH-DSS-DES-CBC3-SHA:ECDH-RSA-DES-CBC3-SHA:ECDH-ECDSA-DES-CBC3-SHA:DES-CBC3-SHA:IDEA-CBC-SHA:PSK-3DES-EDE-CBC-SHA:KRB5-IDEA-CBC-SHA:KRB5-DES-CBC3-SHA:KRB5-IDEA-CBC-MD5:KRB5-DES-CBC3-MD5:ECDHE-RSA-RC4-SHA:ECDHE-ECDSA-RC4-SHA:ECDH-RSA-RC4-SHA:ECDH-ECDSA-RC4-SHA:RC4-SHA:RC4-MD5:PSK-RC4-SHA:KRB5-RC4-SHA:KRB5-RC4-MD5
tls_preempt_cipherlist = yes
tls_random_source = dev:/dev/urandom
tls_ssl_options = no_compression, no_renegotiation
unknown_local_recipient_reject_code = 550
#virtual_alias_domains = mysql:/etc/postfix/virtual-alias-domains.cf
virtual_alias_maps = mysql:/etc/postfix/virtual-alias-maps.cf

#OpenDKIM
smtpd_milters = inet:127.0.0.1:8891,inet:127.0.0.1:8893
non_smtpd_milters = $smtpd_milters
milter_default_action = accept
milter_protocol = 2