user = {{  mail_db_username  }}
password = {{  mail_db_pw  }}
hosts = 127.0.0.1
dbname = {{  mail_db_database  }}
query = SELECT destination FROM virtual_aliases WHERE source='%s'
table = virtual_aliases
select_field = destination
where_field = source