## Dovecot configuration file

# If you're in a hurry, see http://wiki.dovecot.org/QuickConfiguration

# "doveconf -n" command gives a clean output of the changed settings. Use it
# instead of copy&pasting files when posting to the Dovecot mailing list.

# SSL/TLS support: yes, no, required. <doc/wiki/SSL.txt>
ssl = yes

# Protocols we want to be serving.
protocols = imap pop3

# DH parameters length to use.
ssl_dh_parameters_length = 2048

# SSL protocols to use
ssl_protocols = TLSv1.2 TLSv1.3
ssl_prefer_server_ciphers = yes

# SSL Certs to use
ssl_cert = </etc/letsencrypt/live/{{  ansible_fqdn  }}/{{ ansible_fqdn }}.fullchain.pem
ssl_key = </etc/letsencrypt/live/{{  ansible_fqdn  }}/{{ ansible_fqdn }}.privkey.pem
ssl_ca = /etc/ssl/certs/ca-bundle.pem

# SSL ciphers to use
ssl_cipher_list = TLS_AES_256_GCM_SHA384:TLS_AES_128_GCM_SHA256:EECDH+aRSA+AESGCM:EECDH+aRSA+SHA384:EECDH+aRSA+SHA256:EECDH:+AES256:+AES128:+SSLv3:!aNULL:!eNULL:!LOW:!MD5:!EXP:!PSK:!DSS:!3DES:!RC4:!SEED:!ECDSA:AES256-SHA:AES128-SHA:!CAMELLIA128-SHA:!CAMELLIA256-SHA:!DHE-RSA-CAMELLIA128-SHA:!ADH-CAMELLIA128-SHA:!DHE-RSA-CAMELLIA256-SHA:!PSK-AES256-CBC-SHA:!PSK-AES128-CBC-SHA:!ECDHE-RSA-DES-CBC3-SHA:!ECDHE-ECDSA-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!EDH-DSS-DES-CBC3-SHA:!DH-RSA-DES-CBC3-SHA:!DH-DSS-DES-CBC3-SHA:!ECDH-RSA-DES-CBC3-SHA:!ECDH-ECDSA-DES-CBC3-SHA:!DES-CBC3-SHA:!IDEA-CBC-SHA:!PSK-3DES-EDE-CBC-SHA:!KRB5-IDEA-CBC-SHA:!KRB5-DES-CBC3-SHA:!KRB5-IDEA-CBC-MD5:!KRB5-DES-CBC3-MD5

disable_plaintext_auth = no
mail_privileged_group = mail
mail_location =  maildir:~/Maildir

userdb {
  driver = passwd
}
passdb {
  args = %s
  driver = pam
}

protocols = "imap"

protocol imap {
  mail_plugins = "autocreate"
}

plugin {
  autocreate = Trash
  autocreate2 = Sent
  autosubscribe = Trash
  autosubscribe2 = Sent
}

## The listener is added under the service auth section ##
service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
          user = postfix
          group = postfix
    } ##end listener
} ## end service auth

log_path = /var/log/dovecot/dovecot.log
auth_verbose=yes
auth_debug=yes
auth_debug_passwords=yes
verbose_ssl=yes
